body{
    font-family: Arial, sans-serif;
    background-color:lightblue;
    padding:2px;
    text-align:center;
}
main{
    flex: 1;
}
h1{
    font-size:65px;
    color: #ff153f ;
}
h2{
    font-size:40px;
    color: #ff153f ;
}
    
form{ 
      background: yellow;
      max-width:600px;
      font-weight:bold;
      text-align:center;
      margin:20px auto;
      border-radius:8px;
      font-size:18px;
}

input, select {
    border-radius: 5px;
    margin:5px;
    padding:8px;
    border:1px solid #ccc;
}
button{
    background-color: #ffb5aa;
    border-radius: 5px;
    margin-top:5px;
    padding:10px 20px;
    cursor:pointer;
    border:none;
}
table {
    border-radius: 5px;
    border-collapse: collapse;
    width:80%;
     margin:20px auto;
}
th, td {
    border: 1px solid #888;
    padding: 10px;
    text-align: center;
}
thead {
    background-color: #f7d6d6;
}
 .summary{
     background: yellow;
     width:500px;
     margin: 20px auto;
     border-radius: 10px;
     padding:15px;
     box-shadow:0 0 10px rgba(0,0,0,0.1);
 }
 h3,.income,#reset{color:red; font-size:45px;}
 .expenses{color:#500; font-size:45px}.balance{color:#000; font-size:40px;}

    .edit-btn, .delete-btn {
        background-color: #ff153f;
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 0 2px;
        border-radius: 3px;
        cursor: pointer;
     }
    .edit-btn:hover, .delete-btn:hover {
            background-color: #ff0000;
    }

    a:hover{
        color:orange;
    }
    a{
        text-decoration: none;
        color:yellow;
    }
 footer{
    background-color: #ff153f;
    margin-top:20px;
    font-size:30px;
    padding:10px;
    text-align: center;
    font-weight: bold;
    color:white;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;

 }